*
!Dockerfile
!.dockerignore
!package.json
!package-lock.json
!next.config.mjs
!jsconfig.json
!app/
!app/**
!lib/
!lib/**
!migrations/
!migrations/**
**/.env*
**/*.pem
**/*.key
**/*.log
**/.DS_Store
**/node_modules/
